conf/dtd/config.dtd

<!ELEMENT config ( armors, creatures, maps, tileRules, tilesets, egaPalette, egaPalettePi, graphics, graphicsPi, music, sound, weapons ) >
<!ATTLIST config name      CDATA   #REQUIRED>

<!ELEMENT sound ( track+ ) >

<!ELEMENT music ( track+ ) >

<!ELEMENT track EMPTY >
<!ATTLIST track file       CDATA   #REQUIRED>
